.product-items{

    background-color: rgb(83, 250, 250);
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    
    }
    .product-item-row{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    }
    .product-image img{ 
    
    height: 100px  ;
    width: 100px ;
    }
    .button button{
    
    height: 30px;
    width: 110px;
    background-color: rgb(83, 205, 205);
    border: 1px;
    cursor: pointer;
    }
    .product-count{
        display: flex;
    align-items: center;
        justify-content:space-between;
    }
    .box{margin: 10px;
        width: 50px;
    text-align: center;
    }
    .product-items-container{

        
        height: 154px;
        /* position: relative; */
        width: 50%;
        margin-left: 325px;
        padding-right: 52px;
        padding-left: 52px;
        /* padding: 21px; */
        /* padding-left: 21px; */
        left: 145px;
        border-radius: 20px;
margin-top: 5px;
        border: 1px solid #000;

    }
    .main{
border-radius: 5px solid;

    }